body {
    background-image:url(../img/background.jpg);
    background-size:100% auto;
    padding: 50px 0px 0px 0px;
}

.Yoda {
    color:green;
    background-image:url(../img/yoda.jpg);
}

.Darth {
    color:red;
    background-image:url(../img/darth.jpg);
}

li {
    margin:10px;
    min-height:25px;
}

ul {
    max-width:1000px;
}   

.logo {
    width:250px;
}
