body {
    background-image:url(../img/background.jpg);
    background-size:100% auto;
}

.Yoda {
    color:green;
    background-image:url(../img/yoda.jpg);
}

.Darth {
    color:red;
    background-image:url(../img/darth.jpg);
}

li {
    margin:10px;
    min-height:80px;
}

ul {
    max-width:1000px;
}   